body{
   background-image: url(../images/color-scheme-background.png);
    background-color: #323539;
}
#background{
    background-color: #191916;
}
.center{
    margin: auto;
    padding: 0;
    border: 0;
    width: 1000px;
    background-color: #191916;
}
#table td:hover{
    background-color: #A13352;
}
#table div{
    margin: auto;
    width: 1000px ;
    background-color: #191916;
}
#table table{
    background-color: #323539;
    width: 1000px;
}

#table th, td{
    border: 0px;
    padding: 0px;
    border-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    background-color: #56564A;
    width: 1000px;
    font-family: sans-serif;
    color: white;
}

#productheader{
    background-color: darkslategrey;
    color: white;
}

#product-info{
    background-color:black;
    widows: 200px;
}

#prodcut-picture{
    background-color: #4E4346;
    width: 800px;
}

.focal{
     color: white;   
}
p.focal{
    font-family: sans-serif;
    text-align: justify;
    font-size; 18px;
}
h1.focal{
    text-align: center;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
}
h2.focal{
    text-align: center;
    color: #7A686D;
    font-family: sans-serif;
    font-size: 20px;
}
p.ultima{
    font-family: sans-serif;
    text-align: justify;
    color: #2D4A76;
    font-size; 18px;
}
h1.ultima{
    text-align: center;
    color: #2D4A76;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
}
h2.ultima{
    text-align: center;
    color: #2D4A76;
    font-family: sans-serif;
    font-size: 20px;
}